.font80 {
  font-size: 80%;
}
.font90 {
  font-size: 90%;
}

.code80 .remark-code {
  font-size: 80%;
}
.code70 .remark-code {
  font-size: 70%;
}

/* custom header */
div.my-header {
  background-color: #475E5B;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  text-align: left;
}

img.emf-logo {
  content: "";
  position: absolute;
  top: 2px;
  right:   5px;
  height: 25px;
  width: 90px;
}

/* no slide numbers */
.remark-slide-number {
  display: none;
}

/* custom footer */
div.my-footer {
    background: rgba(255,255,255,.8);
    background-image: linear-gradient(90deg,#13ABCD -.4%,#E9E165 100.4%);
    background-blend-mode: normal,overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

/* slide content */

.remark-slide-content {
  background-color: #F8F9FA;
  font-size: 1.0rem;
  color: black;
}

.escher-title {
  position: absolute;
  right: 30px;
  bottom: 100px;
}

.logo-title {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.remark-slide-content h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.remark-slide-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.remark-slide-content h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.title-slide {
  background-color: #475E5B;
  border-top: 0 solid #475E5B;
  background-position: right center;
  color: white;
}

.title-slide h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 4rem;
}

.back-slide {
  background-color: #475E5B;
  border-top: 0 solid #475E5B;
  background-position: right center;
  color: white;
}

